extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    a(href="/logout") Logout
  else
    a(href="/login") Login
  div#block.block
  button#scaling-button 拡大縮小
  button#moving-button 移動
  h1 サーバーステータス
  h3 ロードアベレージ
  p#loadavg

  p 1分毎：
    span#num-0      
  div#bar-0.bar
  p 5分毎：
    span#num-1
  div#bar-1.bar
  p 15分毎：
    span#num-2
  div#bar-2.bar

  script(src="/javascripts/bundle.js")