extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    a(href="/logout") Logout
  else
    a(href="/login") Login
  div#block.block
  button#scaling-button 拡大縮小
  button#moving-button 移動
  h1 サーバーステータス
  h3 ロードアベレージ
  p#loadavg
  //marginでゴリ押ししてしまった;;
  ul#graph
    li 1分毎
    li 5分毎
    li 15分毎
  ul#graphI
    li#bar-0.bar
    li#bar-1.bar
    li#bar-2.bar
  h1 Chart.js
  canvas#myChart
  button#dos 負荷UP