body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.block {
  width: 100pt;
  height: 100pt;
  margin: 20pt;
  background-color: chocolate;
}

.bar {
  width: 500pt;
  height: 15pt;
  margin: 0pt;
}

#bar-0{
  background-color: red;
}
#bar-1{
  background-color: green;
}
#bar-2{
  background-color: blue;
}
